<div class="row center" ng-controller="PanelController" ng-init="init()">
    <div class="container col-md-2 col-sm-2 col-xs-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li class="active"><a href>My Account</a></li>
            <li><a href ng-click="triggerCheckoutBook()">Search Books</a></li>
            <li id="linkRegisterUser" class="disabled"><a href ng-click="triggerRegisterUser()">Register User</a></li>
            <li id="linkManageUsers" class="disabled"><a href ng-click="triggerManageUsers()">Manage Users</a></li>
            <li id="linkLibrarySettings" class="disabled"><a href ng-click="triggerLibrarySettings()">Library Settings</a></li>
            <li id="linkGlobalReports" class="disabled"><a href ng-click="triggerGlobalReports()">Global Reports</a></li>
            <li><a href ng-click="doLogout()">Log out</a></li>
        </ul>
    </div>
    <div class="container col-md-10 col-sm-10 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Checked Out Books</h3>
            </div>
            <div class="panel-body">
                <table id="modalClientViewTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>UUID</th>
                            <th>Date Checked Out</th>
                            <th>Date Due</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="modalClientViewTableBody">
                        <tr class="bold paddedTable" ng-repeat="book in checkedOutBooks">
                            <td>{{book.name}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book._id}}</td>
                            <td>{{book.checkedOutAt}}</td>
                            <td>{{book.dueDate}}</td>
                            <td>
                                <a class="btn btn-primary btn-fab-mini" ng-click="returnBook(book._id)" title="Return Book"><i class="material-icons">assignment_return</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="registerUserModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="font-weight: bold">Register New User</h4>
                    </div>
                    <div class="modal-body">
                        <div id="registerFailureAlert" class="alert alert-danger">
                            <i class="material-icons" align="center">error</i>
                            <strong id="registerFailureAlertText">Failure Text</strong>
                        </div>

                        <form id="formRegisterUser" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputUser" class="col-md-2 control-label">Username</label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="inputUser" placeholder="Username" ng-model="registerUserData.user">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-md-2 control-label">Fullname</label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Full Name" ng-model="registerUserData.fullname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-md-2 control-label">Password</label>

                                    <div class="col-md-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="registerUserData.password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectAccountType" class="col-md-2 control-label">Account Type</label>

                                    <div class="col-md-10">
                                        <select id="selectAccountType" class="form-control" ng-model="registerUserData.accountType">
                                            <option selected="selected">Student</option>
                                            <option>Teacher</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-2">
                                      <button type="submit" class="btn btn-primary" ng-click="registerUser(registerUserData)">Register</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="checkoutBookModal" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="font-weight: bold">Search and Checkout Books</h4>
                    </div>
                    <div class="modal-body">
                        <div id="checkoutBookFailureAlert" class="alert alert-danger">
                            <i class="material-icons" align="center">error</i>
                            <strong id="checkoutBookFailureAlertText">Failure Text</strong>
                        </div>

                        <table id="modalSearchBooksTable" class="table table-striped table-hover" hidden>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>UUID</th>
                                    <th>Checked out</th>
                                    <th>Date Due</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="modalClientViewTableBody">
                                <tr class="bold paddedTable" ng-repeat="book in foundBooks">
                                    <td>{{book.name}}</td>
                                    <td>{{book.author}}</td>
                                    <td>{{book._id}}</td>
                                    <td>{{book.isCheckedOut}}</td>
                                    <td>{{book.dueDate}}</td>
                                    <td>
                                        <a ng-class="book.buttonClass" ng-click="checkoutBook(book._id)" title="Checkout Book">
                                            <i class="material-icons">credit_card</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <form id="formCheckoutBook" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputBookTitle" class="col-md-2 control-label">Book Title</label>

                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="inputBookTitle" placeholder="Title" ng-model="bookCheckoutTitle">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-2">
                                      <button type="submit" class="btn btn-primary" ng-click="searchBook(bookCheckoutTitle)">Search</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="librarySettingsModal" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="font-weight: bold">Library Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div id="librarySettingsFailureAlert" class="alert alert-danger">
                            <i class="material-icons" align="center">error</i>
                            <strong id="librarySettingsFailureAlertText">Failure Text</strong>
                        </div>

                        <form id="formCheckoutBook" class="form-horizontal">
                            <fieldset>

                                <h5>Book Amount Limits</h5>
                                <div class="form-group">
                                    <label for="inputBookLimitStudents" class="col-md-2 control-label">Students</label>

                                    <div class="col-md-10">
                                        <input type="number" class="form-control" id="inputBookLimitStudents" placeholder="10" ng-model="librarySettingsModel.bookLimitStudent">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookLimitTeachers" class="col-md-2 control-label">Teachers</label>

                                    <div class="col-md-10">
                                        <input type="number" class="form-control" id="inputBookLimitTeachers" placeholder="20" ng-model="librarySettingsModel.bookLimitTeacher">
                                    </div>
                                </div>

                                <h5>Book Checkout Length Limits</h5>
                                <div class="form-group">
                                    <label for="inputBookTimeLimitStudents" class="col-md-2 control-label">Students</label>

                                    <div class="col-md-10">
                                        <input type="number" class="form-control" id="inputBookTimeLimitStudents" placeholder="14" ng-model="librarySettingsModel.bookTimeLimitTeacher">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookTimeLimitTeachers" class="col-md-2 control-label">Teachers</label>

                                    <div class="col-md-10">
                                        <input type="number" class="form-control" id="inputBookTimeLimitTeachers" placeholder="21" ng-model="librarySettingsModel.bookTimeLimitTeacher">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-2">
                                      <button type="submit" class="btn btn-primary" ng-click="updateLibrarySettings(librarySettings)">Update</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
